<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to text analyzer Enter your text below.</h1>
<form action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; width: 1262px; height: 223px;'>
    </textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremove"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> extra space remover<br>
    <input type="checkbox" name="charcounter"> Character counter<br>
    <button type="submit">
        Analyze text
    </button>
</form>

</body>
</html>